.vbs-speakers {
  margin-left: 1px;
  margin-top: -10px;
  position: absolute;
  z-index: 4;

  .vbs-speaker {
    border-radius: 1px;
    height: 8px;
    opacity: 0.75;
    position: absolute;
    top: 11px;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  //when there is no speaker
  &.vbs-machine {
    .vbs-speaker.vbs-sp1o {
      @include gradient-vertical-bottom(#5da6e1, #81bee9);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYTZlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MWJlZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }

    .vbs-speaker.vbs-sp2o {
      @include gradient-vertical-bottom(#4a7cab, #679ec1);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhN2NhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NzllYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }
  }

}

.vbs-speakers .vbs-speaker.vbs-sp1o,
.vbs-speakers .vbs-speaker.vbs-sp11o,
.vbs-speakers .vbs-speaker.vbs-sp21o,
.vbs-speakers .vbs-speaker.vbs-sp31o,
.vbs-speakers .vbs-speaker.vbs-sp41o {
  @include gradient-vertical-bottom(#ea415b, #ff7577);
}

.vbs-speakers .vbs-speaker.vbs-sp2o,
.vbs-speakers .vbs-speaker.vbs-sp12o,
.vbs-speakers .vbs-speaker.vbs-sp22o,
.vbs-speakers .vbs-speaker.vbs-sp32o,
.vbs-speakers .vbs-speaker.vbs-sp42o {
  @include gradient-vertical-bottom(#3c42ea, #5e6df2);
}

.vbs-speakers .vbs-speaker.vbs-sp3o,
.vbs-speakers .vbs-speaker.vbs-sp13o,
.vbs-speakers .vbs-speaker.vbs-sp23o,
.vbs-speakers .vbs-speaker.vbs-sp33o,
.vbs-speakers .vbs-speaker.vbs-sp43o {
  @include gradient-vertical-bottom(#0eb226, #6bd369);
}

.vbs-speakers .vbs-speaker.vbs-sp4o,
.vbs-speakers .vbs-speaker.vbs-sp14o,
.vbs-speakers .vbs-speaker.vbs-sp24o,
.vbs-speakers .vbs-speaker.vbs-sp34o,
.vbs-speakers .vbs-speaker.vbs-sp44o {
  @include gradient-vertical-bottom(#da12ed, #d28dd6);
}

.vbs-speakers .vbs-speaker.vbs-sp5o,
.vbs-speakers .vbs-speaker.vbs-sp15o,
.vbs-speakers .vbs-speaker.vbs-sp25o,
.vbs-speakers .vbs-speaker.vbs-sp35o,
.vbs-speakers .vbs-speaker.vbs-sp45o {
  @include gradient-vertical-bottom(#ff8c00, #ffc889);
}

.vbs-speakers .vbs-speaker.vbs-sp6o,
.vbs-speakers .vbs-speaker.vbs-sp16o,
.vbs-speakers .vbs-speaker.vbs-sp26o,
.vbs-speakers .vbs-speaker.vbs-sp36o,
.vbs-speakers .vbs-speaker.vbs-sp46o {
  @include gradient-vertical-bottom(#ff1493, #ff60b5);
}

.vbs-speakers .vbs-speaker.vbs-sp7o,
.vbs-speakers .vbs-speaker.vbs-sp17o,
.vbs-speakers .vbs-speaker.vbs-sp27o,
.vbs-speakers .vbs-speaker.vbs-sp37o,
.vbs-speakers .vbs-speaker.vbs-sp47o {
  @include gradient-vertical-bottom(#ffd700, #ffee9b);
}

.vbs-speakers .vbs-speaker.vbs-sp8o,
.vbs-speakers .vbs-speaker.vbs-sp18o,
.vbs-speakers .vbs-speaker.vbs-sp28o,
.vbs-speakers .vbs-speaker.vbs-sp38o,
.vbs-speakers .vbs-speaker.vbs-sp48o {
  @include gradient-vertical-bottom(#ff4500, #ff8154);
}

.vbs-speakers .vbs-speaker.vbs-sp9o,
.vbs-speakers .vbs-speaker.vbs-sp19o,
.vbs-speakers .vbs-speaker.vbs-sp29o,
.vbs-speakers .vbs-speaker.vbs-sp39o,
.vbs-speakers .vbs-speaker.vbs-sp49o {
  @include gradient-vertical-bottom(#a0522d, #9e725e);
}

.vbs-speakers .vbs-speaker.vbs-sp10o,
.vbs-speakers .vbs-speaker.vbs-sp20o,
.vbs-speakers .vbs-speaker.vbs-sp30o,
.vbs-speakers .vbs-speaker.vbs-sp40o,
.vbs-speakers .vbs-speaker.vbs-sp50o {
  @include gradient-vertical-bottom(#40e0d0, #aaddd8);
}


.vbs-insert-speaker-input {
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box !important;
  height: 32px;
  padding: 5px;
  width: 100%;
}

.vbs-select-insert-speaker .vbs-speaker-selected {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
}

.vbs-speaker-input-wrapper {
  display: block;
  margin-top: 10px;
}

.vbs-insert-speaker-popup .vbs-insert-speaker-input {
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box !important;
  height: 32px;
  padding: 5px;
  width: 100%;
}

.vbs-insert-speaker-popup .vbs-select-dropdown li {
  max-width: 180px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
